.App {
 display: flex;
 flex-direction: column;
 padding: 30px;
}
.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  
}

.game img{
  width: 70px;
  height: 70px;
  
}
.scoreBoard{
  margin-bottom: 20px;
  border: 1px solid black;
  width: 50%;
  text-align: center;
}
