.App {
 display: flex;
 flex-direction: column;
 padding: 30px;
}
.game{
  width: 50%;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  
}

.game img{
  width: 70px;
  height: 70px;
  
}
.scoreBoard{
  margin-bottom: 10px;
  border: 1px solid black;
  width: 50%;
  text-align: center;
}

@media (max-width: 990px) {
  .game, .scoreBoard{
    width: 100%;
  }

}